<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ALMSolutions</title>
    {% load static %}
    <center>
        <a href="{% url 'index'%}">
        <img src="{% static 'images/logoValeVerde.png' %}"   alt="logo">
        </a>
    </center>
    <link rel="stylesheet" type="text/css" href="{% static 'css/layout.css' %}">
</head>
<body>
    <center>
        Clientes
        <form method="POST">
        {% csrf_token %}
        Deseja apagar o cliente?
        <p>
            <button type="submit"> Apagar </button>
        </p>
        </form>    
    </center>
</body>
</html>