{% load static %}
{% load bootstrap4 %}
{% load socialaccount %}

<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!--
    <link rel="icon" href={% static 'images/favicon.ico' %}/>
    -->

    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
          rel="stylesheet" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
          crossorigin="anonymous">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!--Custom styles-->
    <link rel="stylesheet" type="text/css" href={% static 'css/layout.css' %}>

    {% block links %} {% endblock %}

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
            integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
            crossorigin="anonymous"></script>

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
            integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
            crossorigin="anonymous"></script>

    <script src="{% static 'js/utils.js' %}"></script>

    {% block scripts %} {% endblock %}

    <title>{% block title %} {% endblock %}</title>
</head>

<body>

    <!--Cabeçalho-->
    {% if user.is_authenticated %}
    <p>Bem Vindo(a), <b>{{ user.first_name }}</b>!<a href="{% url 'logout' %}"> | logout</a></p>

    {% else %}
    <div class="card-login">
        <img src="{% static 'images/logoValeVerde.png' %}" alt="signin">
        <BR>
        <HR>
        <a href="{% provider_login_url 'google' %}">Login with Google</a>
    </div>
    {% endif %}


    <!--Conteúdo da Página-->
    <div class="container-fluid" id="content-page">

        {% block main %}

        {% endblock %}

    </div><!---Conteúdo da Página---->

    {% block footer %}
        {% include 'includes/footer.html' %}
    {% endblock %}


</body>
</html>